<html>
<head>
    <title>List of films</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <style>
        body{
            background-color: rgb(232, 232, 232);
            margin: 0;
            padding: 0;
        }
        .header {
            background-color: rgba(246, 246, 246, 0.78);
            padding-top: 230px;
            padding-bottom: 520px;

            color: rgba(2, 3, 10, 0.84)
        }
        .header h1{
            font-size: 170px;
            font-weight: bold;
        }
        .header h2{
            margin-top: -40px;
            padding-left: 10px;
            font-size: 90px;
        }
        .addfilm{
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .addfilm input{
            display: block;
        }
        .film-block{
            background-color: #f3f3f3;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid gray;
            border-radius: 7px;
        }
        .rating{
            display: block;
            text-align: right;
        }
        .cost{
            display: block;
        }
        .iDefault{
            width: 300px;
            margin-bottom: 15px;
            border: 1px solid gray;
            border-radius: 15px;
            text-align: center;
        }
        .button{
            width: 100px;
        }
        .filmId{
            border:1px solid #949494;
        }
        footer{
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
            color: white;
            background-color: #666666;
        }
        #film-list{
            display: none;
        }
        .listOfFilms{
            background-color: #4e4e4e;
        }
        .filterResult{
            background-color: #4e4e4e;
        }
        .findMovie{
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #4e4e4e;
        }
    </style>


    <div class="header">
        <div class="container">
            <h1>Movie</h1>
            <h2>catalog</h2>
        </div>
    </div>

    <div class="findMovie">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="search-block">
                        <h2>Find a movie</h2>
                        <form method="post" action="/api/films/filter">
                            <input class="iDefault" type="text" name="inputFilter" placeholder="Input movie title">
                            <button class="iDefault button" type="submit" onclick="filterClick()">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="filterResult">
        <div class="container">
            <div id="filter-list">
                <div class="row">
                    {{#filterres}}
                    <div class="col-4">
                        <div class="film-block">
                            <b class="filmId">{{filmId}}</b>
                            <b>{{title}}</b>
                            <br>
                            <i>{{description}}</i>
                            <br>
                            <b>{{releaseYear}} year,</b>
                            <b>{{length}} min.</b>
                            <b class="cost">Replacement cost - ${{replacementCost}}</b>
                            <i class="rating">{{rating}}</i>
                        </div>
                    </div>
                    {{/filterres}}
                </div>
            </div>

        </div>
    </div>

    <div class="listOfFilms">
        <div class="container">
            <h2>List of films</h2>
            <button class="iDefault button" id="film-list_button" onclick="showTable()">Show</button>
            <div id="film-list">
                <div class="row">
                    {{#films}}
                    <div class="col-4">
                        <div class="film-block">
                            <b class="filmId">{{filmId}}</b>
                            <b>{{title}}</b>
                            <br>
                            <i>{{description}}</i>
                            <br>
                            <b>{{releaseYear}} year,</b>
                            <b>{{length}} min.</b>
                            <b class="cost">Replacement cost - ${{replacementCost}}</b>
                            <br>
                            <b>{{languageTable.name}}</b>
                            <i class="rating">{{rating}}</i>
                        </div>
                    </div>
                    {{/films}}
                </div>
            </div>

        </div>
    </div>

    <div class="addfilm">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div>
                        <div class="add-block">
                            <h2>Add movie</h2>
                            <form method="POST" action="/api/films/adding">
                                <input class="iDefault iTitle" type="text" name="inputTitle" placeholder="Input movie title" required>
                                <input class="iDefault iDescr" type="text" name="inputDescription" placeholder="Input movie description" required>
                                <input class="iDefault iYear" type="text" name ="inputReleaseYear" placeholder="Input release date" required>
                                <input class="iDefault iLength" type="text" name="inputLength" placeholder="Input length" required>
                                <input class="iDefault iCost" type="text" name="inputReplacementCost" placeholder="Input replacement cost" required>
                                <input class="iDefault iRating" type="text" name="inputRating" placeholder="Input rating" required>
                                <button class="iDefault button" type="submit">Add</button>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="col-6">
                    <div><h2>Delete movie</h2></div>
                    <div>
                        <form action="api/films/delete" method="post">
                            <input class="iDefault" type="number" name="inputFilmId" placeholder="Input film id" required>
                            <button class="iDefault button" type="submit">Delete by id</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="h6">© Created by Khokhlov Daniil, 2018</div>
        </div>
    </footer>

    <script type="text/javascript">
        var visible = false;
        function showTable() {
            if(visible) {
                document.getElementById('film-list' ).style.display = 'none';
                document.getElementById('film-list_button' ).textContent = 'Show';
                visible = false;
            } else {
                document.getElementById('film-list' ).style.display = 'block';
                document.getElementById('film-list_button' ).textContent = 'Hide';
                visible = true;
            }
        }
        function filterClick() {
            document.getElementById('film-list' ).style.display = 'block';
            visible = true;
        }
    </script>

</body>
</html>